.*

asg1/yshell
asg2/ydc
asg3/keyvalue
asg4/gdraw
asg5/cix
asg5/cixd
*/test/test_main
*/test/run*
catch.hpp
*.o
*.dSYM/
*.dep
*.log
*.out
*.err
*.status
*.diff
mk.build
mk.tests
README
SCORE
SCORE.pair
